:root
{
    --black : #292828;
    --paraColor : #303030;
}



*
{
    padding: 0px;
    margin: 0px;
}

div
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}

h1
{
    font-size: 30px;
    background-color: rgb(193, 193, 193,.4);
    padding: 8px 24px;
    border-radius: 10px;
    height: 30%;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black);
}

div:nth-child(2)
{
    background-image: url('img1.jpg');
    background-size: cover;
    background-attachment: fixed;
}


div:nth-child(3)
{
    background-color: #d4d4d4;
}

div:nth-child(4)
{
    background-color: rgb(140, 15, 15,0.5);
    background-image: url('img2.jpg');
    background-size: cover;
    background-attachment: fixed ;
}

div:nth-child(5)
{
    background-color: rgb(68, 65, 65);
}

/* .progress
{
    top: 0px;
    height: 4px;
    position: fixed;
    background-color: #008516;
} */

@media screen and (max-width:420px)
{
    div
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 372px;
}

div:nth-child(2)
{
    background-attachment: fixed;
    background-size: 42rem;
}

h1
{
    font-size: 20px;
    background-color: rgb(193, 193, 193,.4);
    padding: 4px 12px;
    border-radius: 10px;
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black);
}
}

span
{
    display: flex;
    color: var(--paraColor);
    padding: 20px 10px;
    text-align: center;
    justify-content: center;
}

b
{
    display: flex;
    color: var(--paraColor);
    padding: 10px 10px 30px 10px;
    text-align: center;
    justify-content: center;
}
